@model KTGK.Models.Grade

@{
    ViewData["Title"] = "Xóa lớp học";
}

<h1>Xóa lớp học</h1>

<h3>Bạn có chắc chắn muốn xóa lớp học này không?</h3>
<div>
    <h4>Lớp học</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="@Model.ImagePath" alt="Ảnh lớp học" style="width: 100px; height: 100px; object-fit: cover;" />
            }
            else
            {
                <span>Không có ảnh</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GradeId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Hủy bỏ</a>
    </form>
</div>